@using CapaEntidad.Pedido
@model IEnumerable<Ent_Order_Dtl>
@{
    ViewBag.Title = "Lista de Pedidos";
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "lista",
        OnComplete = "waitingDialog.hide();",
        OnBegin = "waitingDialog.show('Espere un momento por favor');",
        OnFailure = "waitingDialog.hide();"
    };
}

@*@Scripts.Render("~/bundles/bootstrap")*@
<style>
    #dwcliente {
        width: 200px;
    }

    .imgRedonda {
        width: 100px;
        height: 80px;
        border-radius: 15px;
    }

    #divImagen {
        width: 100%;
        height: 100%;
    }

    #listatallas {
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 2px;
    }

    #lugar {
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 2px;
    }
</style>
<link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet" />

<link href="~/ContentSelect/bootstrap-select.css" rel="stylesheet" />
<div class="box box-body box-default"> 
    @using (Ajax.BeginForm("ListaPcPedidos", options))
    {
        <div class="row">

            <form id="form1">

                <div class="row" style="margin-top:10px;margin-left:10px;margin-right:10px;margin-bottom:10px;background-color:#f4f4f4;border-radius:5px;padding-top:10px;padding-bottom:10px;">

                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        <label for="disponible">*Promotor</label>
                    </div>
                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        @Html.DropDownList("dwPromotor", new SelectList(ViewBag.listPromotor, "codigo", "descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwPromotor", @name = "dwPromotor", @placeholder = ".col-xs-1" })
                    </div>
                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        <button type="submit" title="Consultar" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>

                    </div>

                </div>

            </form>

        </div>

    }

    <div class="box-body" id="lista">
        @{Html.RenderPartial("ListaPcPedidos", Model);}
    </div>
    <br />
    


</div>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/ScriptsSelect/bootstrap-select.js"></script>

@*<script src="~/Scripts/Plugins/iCheck/icheck.min.js"></script>*@

<script>
    var gbMovile = false;


    $(document).ready(function () {

        //if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {

        //    gbMovile = true;

        //}

        //DibujarGrilla();

    });

    function DibujarGrilla() {

        if (gbMovile) {

            alert('movil')
            //GrillaMovil();

        } else {
            MostrarPcListado();
        }
    }

    function MostrarPcListado() {
         
        var idlider = $("#dwLider").val();
        var TeamDetailPostBackURL = "@Url.Action("ListaPcPedidos", "Promotor")";

        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: TeamDetailPostBackURL,
            contentType: "application/json; charset=utf-8",
            data: { idLider: idlider },
            datatype: "json",
            cache: true,
            success: function (data) {
                document.getElementById("lista").innerHTML = data;

            },
            error: function () {

            }
        });

    }





</script>