<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />

<style type="text/css">
    .dt-buttons {
        display: none;
    }
</style>



<table id="example" class="table table-hover dataTable  table-striped table-responsive">
    <thead>
        <tr style="background-color:#3d566e; color:#ecf0f1">
            <th style="background-color:#d9534f">Nro. Liquidacion</th>
            <th style="background-color:#d9534f">Fecha</th>
            <th style="background-color:#d9534f">Pares</th>
            <th style="background-color:#d9534f">Estados</th>
            <th style="background-color:#d9534f">TotalPagar</th>      
            <th style="background-color:#d9534f"></th>          
        </tr>
    </thead>
    <tbody data-bind="foreach:"></tbody>
    <tfoot>
        <tr>
            <th>Pedido</th>
            <th>Fecha</th>
            <th>Pares</th>
            <th>Estados</th>
            <th>TotalPagar</th>
            <th></th>
       
        </tr>
    </tfoot>
</table>
<script src='https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js'></script>
<script src='//cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js'></script>


<script>
        $(document).ready(function () {
            $('.table').dataTable({
                "language": {
                    "url": "../Scripts/DataTables/Spanish.json"
                },
                "bServerSide": true,
                "bAutoWidth": false,
                "sAjaxSource": '@Url.Action("getListPedido", "Pedido")',
                "bdestroy": true,
                //"bFilter": true,
                "start": 0,
                //"bPaginate": false,
                "orderable": false,
                //"order": [0, "asc"],
                "bDeferRender": true,
                "aoColumns": [

                       { "sName": "liq_Id", "mData": "liq_Id" },
                       { "sName": "liq_Fecha", "mData": "liq_Fecha" },
                       { "sName": "Pares", "mData": "Pares" },
                       { "sName": "Estado", "mData": "Estado" },
                       { "sName": "TotalPagar", "mData": "TotalPagar" },
                         {
                             "render": function (data, type, full) {
                               

                                 var liqId = full.liq_Id                                
                                 var pedId = full.ped_Id
                                 var custId = full.cust_Id

                                 return '<div> <a onclick="EditarLiquidacion(' + liqId + ',' + pedId + ',' + custId + ')" target="_blank" class="btn btn-success btn-sm"> <span class="glyphicon glyphicon-edit fa-1x"></span></a></div>';
                               
                             }
                         }
                      
                ],
                dom: 'Bfrtip',
                buttons: [
               {
                   extend: 'excelHtml5',
                   title: 'Bataclub_xls'
               },
               {
                   extend: 'csvHtml5',
                   title: 'BataClub_csv'
               },
               {
                   extend: 'pdfHtml5',
                   title: 'BataClub_pdf'
               },
               'copyHtml5',
                ]
            });

        });

    function EditarLiquidacion(IdLiquidacion,IdPedido,IdCustomer) {     

        var strLiquidacion = IdLiquidacion + '_' + IdPedido + '_' + IdCustomer
        url = '@Url.Action("Nuevo", "Pedido" , new { idLiq = "xxxx"})';
        url = url.replace("xxxx", strLiquidacion);
     
        location.href = url;

    }

</script>
