@using CapaEntidad.Promotor
@model Ent_Promotor
@{
    ViewBag.Title = "Pedido";
}

@*@Scripts.Render("~/bundles/bootstrap")*@
<link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet" />

<link href="~/ContentSelect/bootstrap-select.css" rel="stylesheet" />
<div class="box box-body box-default" style="margin-top:0px;margin-bottom:0px;padding-top:5px;padding-bottom:5px;">
 
    <div class="row" style="margin-top:5px;margin-left:10px;margin-right:10px;margin-bottom:0px;border-radius:5px;padding-top:0px;padding-bottom:0px;">

        <div id="DivHBasico"  class="modal-content">
            <div class="modal-header modal-header-danger" style="margin-top:0px;margin-bottom:0px;padding-top:2px;padding-bottom:2px;">
                <h5 class="modal-title" id="myModalLabel">
                    <table style="border-bottom:0px;font-size:14px;width:100%;">
                        <tr>
                            <td style="font-size:14px;width:90%;text-align:left;">Promotor y formas de pago</td>
                            <td style="font-size:14px;width:10%;text-align:right;">
                                <span id="bocu" onclick="ocultarDiv('DivBasico'); mostrarDivFast('bver'); ocultarDivFast('bocu')" class="glyphicon glyphicon-minus-sign"></span>
                                <span id="bver" style="display:none" onclick="mostrarDiv('DivBasico'); mostrarDivFast('bocu'); ocultarDivFast('bver')" class="glyphicon glyphicon-plus-sign"></span>
                            </td>
                        </tr>
                    </table>
                </h5>
            </div>
            <div id="DivBasico" class="modal-body">

                <div class="row" style="margin-top:0px;margin-left:10px;margin-right:10px;margin-bottom:0px;border-radius:5px;padding-top:10px;padding-bottom:10px;">

                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        <label for="disponible">*Promotor</label>
                    </div>
                    <div id="divTipoDoc" class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        @Html.DropDownList("dwPromo", new SelectList(ViewBag.listPromotor, "codigo", "descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwTipoDoc", @placeholder = ".col-xs-1" })
                    </div>
                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        <label for="disponible">*Forma de Pago</label>
                    </div>
                    <div id="divTipoDoc" class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        @Html.DropDownList("dwFormaPagp", new SelectList(ViewBag.listFormapago, "codigo", "descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwTipoDoc", @placeholder = ".col-xs-1" })
                    </div>
                    
                </div>

                <div class="row" style="margin-top:0px;margin-left:10px;margin-right:10px;margin-bottom:0px;border-radius:5px;padding-top:10px;padding-bottom:10px;">

                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        <label for="disponible">Estado</label>
                    </div>
                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;color:brown">
                        <label for="disponible">Nuevo</label>
                    </div>
                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        <label for="disponible">Premio por ganar</label>
                    </div>
                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;color:brown">
                        <label for="disponible">Premio generado</label>
                    </div>
                </div>

            </div>
            
        </div>

        <div class="row" style="margin-top:5px;margin-left:0px;margin-right:0px;margin-bottom:5px;background-color:#f4f4f4;border-radius:5px;padding-top:2px;padding-bottom:2px;">

            <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                <label for="disponible">Articulo</label>
            </div>
            <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                <input id="txtcodigo" type="text" placeholder="Ingrese codigo" style="width :100%;" autofocus class="form-control" />
            </div>
            <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                <button type="submit" id="btnConsultar" name="btnConsultar" onclick="BuscarArticulo()" style="width:50%" title="Consultar" class="nuevo btn btn-small btn-primary" data-modal="" data-toggle="modal">Buscar</button>

            </div>

        </div> 
    </div>  



</div>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/ScriptsSelect/bootstrap-select.js"></script>
<script src="~/Scripts/BI.js"></script>
<script src="~/Scripts/Plugins/iCheck/icheck.min.js"></script>

<script>
    var gTipoDoc = '';
    var gTipoPer = '';

    $(document).ready(function () {       
              
           

    });

</script>

<script>

    $(function () {
        $("#datepickerini").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker("setDate", "0");;
    });

    function GuardarPromotor() {

        if (validarPromotor()) {

                var prt_tipoDoc = gTipoDoc;
                var prt_numDoc = $("#txtdocumento").val();
                var prt_Nomb1 = $("#txtPrimernombre").val();
                var prt_Nomb2 = $("#txtSegundonombre").val();
                var prt_apePat = $("#txtPrimerapellido").val();
                var prt_apeMat = $("#txtSegundoapellido").val();
                var prt_fecNac = $("#fecini").val();
                var prt_tSexo = "";

                if ($('#chkFem').is(':checked'))
                    prt_tSexo = "F";

                if ($('#chkMas').is(':checked'))
                    prt_tSexo = "M";

                var prt_tPers = gTipoPer;
                var prt_correo   = $("#txtCorreo").val();
                var prt_telefono = $("#txtTelefono").val();
                var prt_fax      = $("#txtFax").val();
                var prt_celular  = $("#txtCelular").val();

                var prt_depa     = $("#dwDep").val();
                var prt_prov     = $("#dwProv").val();
                var prt_dist     = $("#dwDist").val();
                var prt_direc    = $("#txtDireccion").val();
                var prt_AreaId    = $("#dwLider").val();

                var prt_agencia = $("#txtAgencia").val();
                var prt_destino = $("#txtDestino").val();
                var prt_agenRuc = $("#txtagenciaRuc").val();

                var objPromotor = {
                    prmt_TipoDoc: prt_tipoDoc,
                    prmt_NroDoc: prt_numDoc,
                    prmt_Nombre1: prt_Nomb1,
                    prmt_Nombre2: prt_Nomb2,
                    prmt_ApePater: prt_apePat,
                    prmt_ApeMater: prt_apeMat,
                    prmt_FecNac: prt_fecNac,
                    prmt_Sexo: prt_tSexo,
                    prmt_TipoPer: prt_tPers,
                    prmt_Correo: prt_correo,
                    prmt_Telefono: prt_telefono,
                    prmt_Fax: prt_fax,
                    prmt_Celular: prt_celular,
                    prmt_Depa: prt_depa,
                    prmt_Prov: prt_prov,
                    prmt_Dist: prt_dist,
                    prmt_Direc: prt_direc,
                    prmt_AreaId: prt_AreaId,
                    prmt_Lider: 0,
                    prmt_PromoDefecto:1,
                    prmt_Agencia: prt_agencia,
                    prmt_AgenciaRuc: prt_agenRuc,
                    prmt_Destino: prt_destino,
                    prmt_Defecto:1
                }


                    $.ajax
                  ({
                      url: '../Promotor/GuardarPromotor',
                      dataType: "json",
                      type: "POST",
                      data: objPromotor,
                      success: function (data, textStatus, XMLHttpRequest) {
                          waitingDialog.hide();
                          toastr.success("Se genero los vales.", msg_titulo);

                      },
                      error: function (xhr) {
                          waitingDialog.hide();
                          toastr.error(xhr, msg_titulo);
                      }
                  })
        }
    }

    function validarPromotor() {

        var prt_fecNac = $("#fecini").val();
        var prt_correo = $("#txtCorreo").val();
        var prt_depa = $("#dwDep").val();
        var prt_prov = $("#dwProv").val();
        var prt_dist = $("#dwDist").val();
        var prt_direc = $("#txtDireccion").val();
        var prt_AreaId = $("#dwLider").val();
        var bValdiacion = true;
  
        var msjAlert = '';
        var msjAlertFormat = '';
     
        bValdiacion = ((BorrarEspacio(prt_fecNac) == '') ? (msjAlert += 'Fecha Nacimiento.<br/>', false) : bValdiacion);
        bValdiacion = ((BorrarEspacio(prt_correo) == '') ? (msjAlert += 'Correo.<br/>', false) : bValdiacion);
        bValdiacion = ((BorrarEspacio(prt_depa) == '') ? (msjAlert += 'Departamento.<br/>', false) : bValdiacion);
        bValdiacion = ((BorrarEspacio(prt_prov) == '' || BorrarEspacio(prt_prov) == '-1') ? (msjAlert += 'Provincia.<br/>', false) : bValdiacion);
        bValdiacion = ((BorrarEspacio(prt_dist) == '' || BorrarEspacio(prt_dist) == '-1') ? (msjAlert += 'Distrito.<br/>', false) : bValdiacion);
        bValdiacion = ((BorrarEspacio(prt_direc) == '') ? (msjAlert += 'Dirección.<br/>', false) : bValdiacion);
        bValdiacion = ((BorrarEspacio(prt_AreaId) == '') ? (msjAlert += 'Lider.<br/>', false) : bValdiacion);
       
        if (bValdiacion) {
      
            bValdiacion = ((ValidarFormatoCorreo(prt_correo)) ? (msjAlertFormat += 'Correo incorrecto.<br/>', false) : bValdiacion);
            bValdiacion = ((obtenerEdad(prt_fecNac) < 18) ? (msjAlertFormat += 'Edad minima es de 18 años.<br/>', false) : bValdiacion);
        }

        var msjTotal = ''

        if (msjAlert != '') { msjTotal = msjTotal + '<br/>* Datos Obligatorios:<br/>' + msjAlert }
        if (msjAlertFormat != '') { msjTotal = msjTotal + '<br/>* Datos Incorrectos:<br/>' + msjAlertFormat }
      
        if (msjTotal != '') {
            toastr.error(msjTotal, "Error de datos.");
        }       

        return bValdiacion
    }

    function ValidarFormatoCorreo(correo) {

        var bValida = false
        var Regex = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

        bValida = ((Regex.test(correo)) ? true : false);

        return bValida;
        
    }


    function ListarProvincia() {
        var combo;
        var CodDepartamento = $("#dwDep").val();
        var onchangeFuncion = 'ListarDistrito'
        combo = GenerarLista('1', CodDepartamento);
        llenarCombo('divProvincia', 'dwProv', combo, '-1', 'Seleccione', 'ListarDistrito');
        llenarComboVacio('divDistrito', 'dwDist',  '-1', 'Seleccione', '');
    }

    function BorrarEspacio(cadena) {

        cadena = cadena.replace(/ /g, "")
        return cadena;
    }

    function ListarDistrito() {
        var combo;
        var CodProvincia= $("#dwProv").val();
        var onchangeFuncion = 'ListarDistrito'
        combo = GenerarLista('2', CodProvincia);
        llenarCombo('divDistrito', 'dwDist', combo, '-1', 'Seleccione', '');

    }

    function GenerarLista(Numsp, Params) {
        var Data

        var url = '@Url.Action("GenerarCombo", "Promotor")';
        function exito(rpta) {
            Data = rpta
        }
        function error(rpta) {
            BI.AbrirPopup(20, 15, "Comuniquese con Soporte Tecnico<br>" + rpta.statusText, 'Disculpe!!!', false, true, false)
        }
        BI.AjaxJsonSeg("post", url, { Numsp: Numsp, Params: Params }, false, exito, error);

        return Data
    }

    function BuscarDocumento() {

        var nroDocumento = $('#txtdocumentoIni').val();
        var url = '@Url.Action("ConsultaReniec", "Promotor")';
        function exito(rpta) {

            verificarDocumento(rpta)
        }
        function error(rpta) {
            BI.AbrirPopup(20, 15, "Comuniquese con Soporte Tecnico<br>" + rpta.statusText, 'Disculpe!!!', false, true, false)
        }
        BI.AjaxJsonSeg("post", url, { nroDocumento: nroDocumento }, false, exito, error);

    }

    function verificarDocumento(data) {

        $.each(data, function (index, item) {

            var bOcultar = false;

            if (parseInt(item.Bas_id) > 0) {

                var nombres = item.Bas_Primer_Nombre + ' ' + item.Bas_Primer_Apellido
                bOcultar = true

                toastr.error("El Cliente " + nombres + ", ya se encuentra registrado.", "Mensaje Aquarella");

            } else {

                if (item.Bas_Primer_Apellido != "" && item.Bas_Primer_Apellido != null) {
                    var nombres = item.Bas_Primer_Nombre + ' ' + item.Bas_Primer_Apellido
                    toastr.success("Cliente " + nombres, "Mensaje Aquarella");
                    var nroDoc = item.Bas_Documento;

                    $('#txtdocumento').val(nroDoc);
                    $('#txtPrimernombre').val(item.Bas_Primer_Nombre);
                    $('#txtSegundonombre').val(item.Bas_segundo_nombre);
                    $('#txtPrimerapellido').val(item.Bas_Primer_Apellido);
                    $('#txtSegundoapellido').val(item.Bas_Segundo_Apellido);

                    soloLecturaInput('txtdocumento')
                    soloLecturaInput('txtPrimernombre')
                    soloLecturaInput('txtSegundonombre')
                    soloLecturaInput('txtPrimerapellido')
                    soloLecturaInput('txtSegundoapellido')

                    var longDocumento = nroDoc.length;
                    var tipoDoc = '';
                    var tipoPersona = '';

                    switch (longDocumento) {
                        case 8://dni
                            tipoDoc = '1';
                            tipoPersona = '1';
                            break;
                        case 12://carnet de extranjeria
                            tipoDoc = '3';
                            tipoPersona = '1';
                            break;
                        case 11://RUC
                            tipoDoc = '2';
                            tipoPersona = '2';
                            break;
                        default:
                            ''
                    }

                    //console.log('seteand')
                    //$('select[name=' + 'dwTipoDoc' + ']').val('2');
                    //$('select[name=' + nameControl + ']').val(valor);
                    setearComboSelectpicker('dwTipoDoc', tipoDoc, 1)
                    setearComboSelectpicker('dwTipoPersona', tipoPersona, 1)

                    gTipoDoc = tipoDoc;
                    gTipoPer = tipoPersona;

                    mostrarDiv('DivHBasico')
                    mostrarDiv('DivHTipoPersona')
                    mostrarDiv('DivHUbicacion')
                    mostrarDiv('DivHInformacion')
                    mostrarDiv('DivHGuardar')

                    //console.log('fin seteand')



                } else {

                    bOcultar = true
                    toastr.error("Número de documento Incorrecto.", "Mensaje Aquarella");
                }

            }

            if (bOcultar) {

                ocultarDiv('DivHBasico')
                ocultarDiv('DivHTipoPersona')
                ocultarDiv('DivHUbicacion')
                ocultarDiv('DivHInformacion')
                ocultarDiv('DivHGuardar')

            }
        });

    }

    function soloLecturaInput(IdInput) {

        document.getElementById(IdInput).readOnly = true;

    }

    function bloquearDiv(idDiv) {

        $('#' + idDiv + ' *').prop('disabled', true);

    }

    function llenarCombo(DivId, IdControl, Data, codDefecto, desDefecto,onchangeFuncion) {

        var str = '<select class="selectpicker" data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '">';
        var ItemNormal = '<option value="codItem">desItem</option>';
        var colectItemNormal = '';

        if (codDefecto != '') { str += '<option value="' + codDefecto + '" selected="selected">------' + desDefecto + '------</option>';}

        if (onchangeFuncion != '') { onchangeFuncion = 'onchange = "' + onchangeFuncion + '()"' }
        str = str.replace("onchangeFuncion", onchangeFuncion);

        $.each(Data, function (index, item) {

            colectItemNormal = colectItemNormal + ItemNormal
            colectItemNormal = colectItemNormal.replace("codItem", item.codigo);
            colectItemNormal = colectItemNormal.replace("desItem", item.descripcion);

        });

        str += colectItemNormal
        str += '</select>'

        document.getElementById(DivId).innerHTML = str

        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });

    }

    function llenarCombo(DivId, IdControl, Data, codDefecto, desDefecto, onchangeFuncion) {

        var str = '<select class="selectpicker" data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '">';
        var ItemNormal = '<option value="codItem">desItem</option>';
        var colectItemNormal = '';

        if (codDefecto != '') { str += '<option value="' + codDefecto + '" selected="selected">------' + desDefecto + '------</option>'; }

        if (onchangeFuncion != '') { onchangeFuncion = 'onchange = "' + onchangeFuncion + '()"' }
        str = str.replace("onchangeFuncion", onchangeFuncion);

        $.each(Data, function (index, item) {

            colectItemNormal = colectItemNormal + ItemNormal
            colectItemNormal = colectItemNormal.replace("codItem", item.codigo);
            colectItemNormal = colectItemNormal.replace("desItem", item.descripcion);

        });

        str += colectItemNormal
        str += '</select>'

        document.getElementById(DivId).innerHTML = str

        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });

    }

    function llenarComboVacio(DivId, IdControl, codDefecto, desDefecto, onchangeFuncion) {

        var str = '<select class="selectpicker" data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '">';
        var ItemNormal = '<option value="codItem">desItem</option>';
        var colectItemNormal = '';

        if (codDefecto != '') { str += '<option value="' + codDefecto + '" selected="selected">------' + desDefecto + '------</option>'; }

        if (onchangeFuncion != '') { onchangeFuncion = 'onchange = "' + onchangeFuncion + '()"' }
        str = str.replace("onchangeFuncion", onchangeFuncion);

        str += colectItemNormal
        str += '</select>'

        document.getElementById(DivId).innerHTML = str

        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });

    }

    

    function ocultarDiv(divId) {

        $("#" + divId).hide("slow");
    }

    function mostrarDiv(divId) {

        $("#" + divId).show("slow");
    }

    function ocultarDivFast(divId) {

        $("#" + divId).hide();
    }

    function mostrarDivFast(divId) {

        $("#" + divId).show();
    }

    



</script>