@using CapaEntidad.Promotor
@model Ent_Promotor
@{
    ViewBag.Title = "Pedido";
}

@*@Scripts.Render("~/bundles/bootstrap")*@
<style>
    #dwcliente {
        width: 200px;
    }

    .imgRedonda {
        width: 150px;
        height: 120px;
        border-radius: 15px;
    }

    #divImagen {
        width: 100%;
        height: 100%;
    }

    #lugar {
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 2px;
    }
</style>
<link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet" />

<link href="~/ContentSelect/bootstrap-select.css" rel="stylesheet" />
<div class="box box-body box-default" style="margin-top:0px;margin-bottom:0px;padding-top:5px;padding-bottom:5px;">
 
    <div class="row" style="margin-top:5px;margin-left:5px;margin-right:5px;margin-bottom:0px;border-radius:5px;padding-top:0px;padding-bottom:0px;">

        <div id="DivHBasico"  class="modal-content">
            <div class="modal-header modal-header-danger" style="margin-top:0px;margin-bottom:0px;padding-top:2px;padding-bottom:2px;">
                <h5 class="modal-title" id="myModalLabel">
                    <table style="border-bottom:0px;font-size:14px;width:100%;">
                        <tr>
                            <td style="font-size:14px;width:90%;text-align:left;">Promotor y formas de pago</td>
                            <td style="font-size:14px;width:10%;text-align:right;">
                                <span id="bocu" onclick="ocultarDiv('DivBasico'); mostrarDivFast('bver'); ocultarDivFast('bocu')" class="glyphicon glyphicon-minus-sign"></span>
                                <span id="bver" style="display:none" onclick="mostrarDiv('DivBasico'); mostrarDivFast('bocu'); ocultarDivFast('bver')" class="glyphicon glyphicon-plus-sign"></span>
                            </td>
                        </tr>
                    </table>
                </h5>
            </div>
            <div id="DivBasico" class="modal-body">

                <div class="row" style="margin-top:0px;margin-left:10px;margin-right:10px;margin-bottom:0px;border-radius:5px;padding-top:10px;padding-bottom:10px;">

                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        <label  for="disponible">*Promotor</label>
                    </div>
                    <div id="divTipoDoc" class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        @Html.DropDownList("dwPromo", new SelectList(ViewBag.listPromotor, "codigo", "descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwTipoDoc", @placeholder = ".col-xs-1" })
                    </div>
                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        <label for="disponible">*Forma de Pago</label>
                    </div>
                    <div id="divTipoDoc" class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        @Html.DropDownList("dwFormaPagp", new SelectList(ViewBag.listFormapago, "codigo", "descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwTipoDoc", @placeholder = ".col-xs-1" })
                    </div>
                    
                </div>

                <div class="row" style="margin-top:0px;margin-left:10px;margin-right:10px;margin-bottom:0px;border-radius:5px;padding-top:10px;padding-bottom:10px;">

                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        <label for="disponible">Estado</label>
                    </div>
                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;color:brown">
                        <label for="disponible">Nuevo</label>
                    </div>
                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        <label for="disponible">Premio por ganar</label>
                    </div>
                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;color:brown">
                        <label for="disponible">Premio generado</label>
                    </div>
                </div>

            </div>
            
        </div>

        <div class="row" style="margin-top:5px;margin-left:0px;margin-right:0px;margin-bottom:5px;background-color:#f4f4f4;border-radius:5px;padding-top:2px;padding-bottom:2px;">

            <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                <label for="txtArticulo" >Articulo</label>
            </div>
            <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                <input id="txtArticulo" type="text" placeholder="Ingrese articulo" style="width :100%;" autofocus class="form-control" />
            </div>
            <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                <button type="submit" id="btnBuscar" name="btnConsultar" onclick="MostrarArticulo()" style="width:50%" title="Buscar" class="nuevo btn btn-small btn-primary" data-modal="" data-toggle="modal">Buscar</button>

            </div>

        </div> 
    </div>  



</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-app>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/ScriptsSelect/bootstrap-select.js"></script>
<script src="~/Scripts/BI.js"></script>
<script src="~/Scripts/Plugins/iCheck/icheck.min.js"></script>

<script>
    var gTipoDoc = '';
    var gTipoPer = '';

    $(document).ready(function () {

        $(".btnSuma").click(function () {
            var Id = $buttonClicked.attr('data-id');
            alert(Id)
        });

    });


    function MostrarArticulo() {


        waitingDialog.show('Espere un momento por favor');

        var codArticulo = $('#txtArticulo').val();
            codArticulo = codArticulo.replace(/^\s+|\s+$/g, "")

        var ControllerUrl = "@Url.Action("listarStr_ArticuloTalla", "Pedido")";
        var css = 'class="row"'
        //css = '';
        var border2 = 'padding: 5px 5px 5px 5px;border:2px'
        //border2 =''
        var espacio = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
        //style="border-radius:50%"   btn-xs
        var ConstTalla = '<td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">variableTalla</button></div></td>'
        var BotonSuma = '<button title="Sumar Cantidad" class="btnSuma btn btn-success" onclick="sumarCantidad(this)" data-id="IdArticuloTallaS" data-modal="Sstock" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span></button>'
        var BotonResta = '<button title="Restar Cantidad" class="btnResta btn btn-danger" onclick="restarCantidad(this)" data-id="IdArticuloTallaR" data-modal="Rstock" data-toggle="modal"><span class="glyphicon glyphicon-minus"></span></button>'
        var InputCantidadTalla = '<input id="inpArtTalla" type="number" placeholder="cantidad" onchange = "validarStock(this)" data-id="inpStock" style="width:100%;" autofocus="" class="form-control">'
        var ConstHtmlTienda = '<br/><div id="lugar" style="background:#FFFFFF;' + border2 + '" ><div ' + css + '  style="background:#FFFFFF;" ><div class="col-sm-12"><div><h4><strong>VariableTienda</strong></h4><p>&nbsp;DireccionTienda</p></div><table><tr><td><div style="margin-top:2px;">' + BotonResta + '</div></td><td style="width:100px"><div style="margin-top:2px;">' + InputCantidadTalla + '</div></td><td><div style="margin-top:2px;">' + BotonSuma + '</div></td></tr></table></div><br/></div></div>';
        var ConstCantidad = ''
        var listTalla = '';
        var listCantidad = '';
        var divFinal = '';
        var strUrlImagen = '';
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: ControllerUrl,
            contentType: "application/json; charset=utf-8",
            data: { codArticulo: codArticulo },
            datatype: "json",
            cache: true,
            success: function (data) {

                var codTienda = ''
                var consTienda = ''

                if (data != '' && data != '[]') {
                    var valors = JSON.parse(data);
                    var nombreTienda = '';
                    var urlImagenSusti = '';
                    var DireccionTienda = '';
                    var CodTalla = '';
                    var cantidad = '';

                    var NombreArticulo = '';
                    var MarcaArticulo = '';
                    var ColorArticulo = '';
                    var CategoriArticulo = '';
                    var PrecioSinIgv = '';
                    var stock = '';

                    $.each(valors, function (index, item) {

                        //NombreArticulo = item.Descripcion;
                        strUrlImagen = item.Art_Foto
                        NombreArticulo = item.Art_Descripcion
                        MarcaArticulo = item.Mar_Descripcion
                        ColorArticulo = item.Col_Descripcion
                        PrecioSinIgv = item.Art_Pre_Sin_Igv
                        CategoriArticulo = item.Cat_Pri_Descripcion + ' > ' + item.Cat_Descripcion
                        CodTalla = item.Tal_Descripcion
                        codTienda = item.Tall_Des;
                        nombreTienda = '<i class="fa fa-check-circle"></i>&nbsp;Talla:&nbsp;&nbsp;' + item.Tall_Des
                        DireccionTienda = '<i class="fa fa-info-circle"></i>&nbsp;Stock:&nbsp;&nbsp;'+ item.Tall_Cant
                        stock = item.Tall_Cant;
                        //nombreTienda += DireccionTienda;
                        var strhtml = ConstHtmlTienda;

                        strhtml = strhtml.replace("VariableTienda", nombreTienda);
                        strhtml = strhtml.replace("DireccionTienda", DireccionTienda); 
                        strhtml = strhtml.replace("IdArticuloTallaS", CodTalla);
                        strhtml = strhtml.replace("IdArticuloTallaR", CodTalla); 
                        strhtml = strhtml.replace("Rstock", stock);
                        strhtml = strhtml.replace("Sstock", stock);
                        strhtml = strhtml.replace("inpStock", stock);
                        strhtml = strhtml.replace("inpArtTalla", "inpt_"+CodTalla);
                        divFinal += strhtml;

                    });

                   
                    var strhtml = '<table id="example" class="table table-hover dataTable  table-striped table-responsive">'

                    strhtml += '<tbody>'
                    strhtml += '<tr>'
                    strhtml += '<td  style="background:#FFFFFF;width:30%;vertical-align:middle;border: 1px solid;border-color:gainsboro">'
                    strhtml += '<div id="DivNombre" style="text-align:center;"><h5><b>' + NombreArticulo + '</b></h5></div><br/>'
                    strhtml += '<div id="DivImagen" style="text-align:center;">'
                    strhtml += '<img id="imagenCatalogo" class="imgRedonda" src="' + strUrlImagen + '" width="100%" height="100%" />'
                    strhtml += '</div><br/>'
                    strhtml += '<div id="DivPrecio" style="text-align:left"><table style="width:100%" ><tr><td style="width:50%" ><div style="width:100%" ><h5><b>Precio:&nbsp;&nbsp;</b></h5></div></td><td><div style="width:100%;color:#FF0000"><h5><b>S/&nbsp;&nbsp;' + PrecioSinIgv + '</b></h5></div></td></tr></table></div>'
                    strhtml += '<div id="DivMarca" style="text-align:left"><h5><b>Marca:&nbsp;&nbsp;</b>' + MarcaArticulo + '</h5></div>'
                    strhtml += '<div id="DivColor" style="text-align:left"><h5><b>Color:&nbsp;&nbsp;</b>' + ColorArticulo + '</h5></div>'
                    strhtml += '<div id="DivCateg" style="text-align:left"><h5><b>Categorización:</b></h5></div>'
                    strhtml += '<div id="DivCateg" style="text-align:center"><h5>' + CategoriArticulo + '</h5></div>'
                    strhtml += '</td>'
                    strhtml += '<td>'
                    strhtml += '<div id="listTalla" style="overflow-x: hidden; overflow-y:auto; height: 378px;">'
                    strhtml += divFinal
                    strhtml += '</div>'
                    strhtml += '</td>'
                    strhtml += '</tr>'
                    strhtml += '</tbody>'
                    strhtml += '</table>'

                    $('#myModalContent').html(strhtml);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                }
                waitingDialog.hide();

            },
            error: function () {
                waitingDialog.hide();
                alert('Error')
            }

        });

    }

    function sumarCantidad(control) {
        var Cod = control.getAttribute('data-id');
        var stock = parseInt(control.getAttribute('data-modal'));
        var cInput = 'inpt_' + Cod;
        var valor = $('#' + cInput).val();
        var valorInt = 0;
        var msjAlert = "";
        valorInt = ((BorrarEspacio(valor) == '') ? (msjAlert += 'Fecha Nacimiento.<br/>', 1) : parseInt(valor) + 1);
        valorInt = ((valorInt >= stock) ? (stock) : valorInt);

        $('#' + cInput).val(valorInt);
    }

    function restarCantidad(control) {
        var Cod = control.getAttribute('data-id');
        var cInput = 'inpt_' + Cod;
        var valor = $('#' + cInput).val();
        var valorInt = 0;
        var msjAlert = "";
        valorInt = ((BorrarEspacio(valor) == '') ? (msjAlert += 'Fecha Nacimiento.<br/>', 0) : parseInt(valor) - 1);
        valorInt = ((valorInt <= 0) ? (0) : valorInt);

        $('#' + cInput).val(valorInt);
    }

    function validarStock(control) {
    
        var cInput = control.getAttribute('Id');
        var valor = (($('#' + cInput).val() == '') ? (0) : parseInt($('#' + cInput).val()));;
        var stock = parseInt(control.getAttribute('data-id'));
        if (valor > stock) { $('#' + cInput).val(stock); toastr.error("Valor mayor que el Stock.", "Error"); }
        if (valor < 0) { $('#' + cInput).val(0); toastr.error("Valor menor que cero.", "Error"); }
       
    }


    function ocultarDiv(divId) {

        $("#" + divId).hide("slow");
    }

    function mostrarDiv(divId) {

        $("#" + divId).show("slow");
    }

    function ocultarDivFast(divId) {

        $("#" + divId).hide();
    }

    function mostrarDivFast(divId) {

        $("#" + divId).show();
    }

    function BorrarEspacio(cadena) {

        cadena = cadena.replace(/ /g, "")
        return cadena;
    }





</script>