<input type="hidden" id="idfun" value="@ViewBag.rolid" />
<table id="result" class="table table-hover dataTable  table-striped table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach:">
        @using CapaEntidad.Control
        @model IEnumerable<Ent_Funcion>

        @foreach (Ent_Funcion item in Model)
        {
            <tr>
                <td>@item.fun_id.ToString()</td>
                <td>@item.fun_nombre.ToString()</td>
                <td>
                    <div class="pull-right">
                        <button title="Borrar" style="border-radius:50%" class="btnborrar btn btn-danger" data-id="@item.fun_id" data-modal="" data-toggle="modal"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>
