@{ 
    ViewBag.Title = "Cruce de pagos y liquidaciones";
    ViewBag.SubTitle = "";
}
<p class="text-primary">Por favor seleccione las liquidaciones y los pagos con los cuales va a cruzar.  El sistema no permite grabar hasta que el "Gran Total" sea un número mayor a cero ó sus pagos superen el valor de sus pedidos o deudas.</p>
<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-widget">
                    <div class="box-header with-border">
                        Promotor(a)
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-10 col-xs-10">
                                <div class="form-group">
                                    @Html.DropDownList("dwPromotor", new SelectList(ViewBag.listPromotor, "codigo", "descripcion", null), new { @class = "form-control selectpicker", @data_live_search = "true", @id = "dwPromotor", @name = "dwPromotor" })
                                    <span class="help-block" style="color: #31708f">Seleccione un promotor sobre el cual realizará las acciones</span>
                                </div>
                            </div>
                            <button type="button" title="Consultar" id="btnConsultar" class="btn btn-primary">
                                <small class="glyphicon glyphicon-search"></small>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="../Content/images/placeholder-user.jpg" alt="User Image">
                            <span class="username" id="doc-nom-persona">&nbsp;</span>
                            <span class="description" id="ubi-persona">&nbsp;</span>
                        </div>
                        <!-- /.user-block -->
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <div class="box-body">
                        <div class="row" id="infoProm">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-widget">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="tblPL" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Fecha</th>
                                            <th>Concepto</th>
                                            <th>Monto</th>
                                            <th>Tipo</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:"></tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="4"><span class="pull-right text-bold" id="totalPL">S/ 99.99</span></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-success pull-right" type="button"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Guardar el cruce realizado</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
    var checking = false;
    var checkVal;
    $(document).ready(function () {
        $("#btnConsultar").click(function () {
            waitingDialog.show("Espere un momento por favor.")
            $.ajax({
                type: "POST",
                url: '@Url.Action("GET_INFO_PERSONA", "Financiera")',
                data: { codigo: $("#dwPromotor").val() },
                success: function (data) {
                    waitingDialog.hide();
                    if (data.estado == 0) {
                        $("#doc-nom-persona").html(data.info.Bas_Documento + ' - ' + data.info.NombreCompleto);
                        $("#ubi-persona").html(data.info.Ubicacion);
                        var html = '<div class="col-md-12 col-xs-12" >\
                                        <dl class="dl-horizontal">\
                                        <dt>Asesor Comercial :</dt>\
                                        <dd>' + data.info.asesor + '</dd>\
                                        <dt>Lider :</dt>\
                                        <dd>' + data.info.Are_Descripcion + '</dd>\
                                        <dt>Ubicación :</dt>\
                                        <dd>' + data.info.Ubicacion + '</dd>\
                                        <dt>E-Mail de contacto :</dt>\
                                        <dd>' + data.info.Bas_Correo + '</dd>\
                                        <dt>Agencia :</dt>\
                                        <dd>' + data.info.bas_agencia + '</dd>\
                                        <dt>Destino :</dt>\
                                        <dd>' + data.info.bas_destino + '</dd>\
                                        <dt>Premio por ganar :</dt>\
                                        <dd></dd>\
                                        </dl>\
                                    </div>'
                        $("#infoProm").html(html);
                        $('#tblPL').DataTable().ajax.reload();
                        //CargarLiq(data.liquidacion);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    waitingDialog.hide();
                    toastr.error("Error al consultar.", "Alerta");
                }
            });
        });

        $("#tblPL").DataTable({
            "dom": 't',
            "language": {
                "url": "../Scripts/DataTables/Spanish.json",
            },
            "ordering": false,                        
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.getJSON(sSource, aoData, function (json) {
                    $("#totalPL").html("S/ " + parseFloat(json.total).toFixed(2));
                    fnCallback(json);
                });
            },
            "bServerSide": true,
            "autoWidth": false,
            "sAjaxSource": '@Url.Action("getDataPagsLiqs", "Financiera")',
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "checking", "value": checking },
                    { "name": "checkVal", "value": checkVal }
                    );
            },
            "bdestroy": true,
            "columns": [
                /*
                            a.dtv_transoc_id     ,
                            a.dtv_concept_id     ,
                            a.cov_descriptcion   ,
                            a.document_date_desc ,
                            a.dtd_document_date  ,
                            a.debito             ,
                            a.credito            ,
                            a.val                ,
                            a.TIPO               ,
                            a.active             ,
                            a.checks             ,
                            a.von_increase       ,
                            a.Flag,
                            monto
                */
                {
                    render: function (data, type, full) {
                        if (full.checks == true) {
                            return "<div class='checkbox' style='height: 13px;'><label><input style='margin-top: 0px;' name='chkPL' value='" + full.dtv_transdoc_id + "' class='marcar-pl' type='checkbox' checked></label></div>"
                        } else {
                            return "<div class='checkbox' style='height: 13px;'><label><input style='margin-top: 0px;' name='chkPL' value='" + full.dtv_transdoc_id + "' class='marcar-pl' type='checkbox'  ></label></div>"
                        }
                    }, "className": "content-center-text"
                },
                { "data": "document_date_desc" },
                { "data": "cov_description" },                
                {
                    render: function (data, type, full) {
                        return "S/ " + full.monto.toFixed(2);
                    }, "className": "content-rigth-text"
                },
                {
                    render: function (data, type, full) {
                        if (full.von_increase < 0 || full.credito < 0) {
                            return '<span class="text-danger text-bold">' + full.TIPO + '</span>'
                        } else {
                            return '<span class="text-success text-bold">' + full.TIPO + '</span>'
                        }
                    }, "className": "content-center-text"
                },
            ]
        });
        $('#tblPL').on('change', '.marcar-pl', function (e) {
            checking = true;
            checkVal = $(this).val();
            $('#tblPL').DataTable().ajax.reload(function () {
                checking = false;
                checkVal = null;
            });
        });
    });
</script>    
}