@using CapaEntidad.Promotor
@model IEnumerable<Ent_Promotor>
@{
    ViewBag.Title = "Lista de Promotores";
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "lista",
        OnComplete = "waitingDialog.hide();",
        OnBegin = "waitingDialog.show('Espere un momento por favor');",
        OnFailure = "waitingDialog.hide();"
    };
}
<style>
    #tienda {
        width: 300px;
    }

</style>
<link href="~/ContentSelect/bootstrap-select.css" rel="stylesheet" />

<div class="box box-body box-default">
    @using (Ajax.BeginForm("ListaPcPromotor", options))
    {
        <div class="row">

            <form id="form1">

                <div class="row" style="margin-top:10px;margin-left:10px;margin-right:10px;margin-bottom:10px;background-color:#f4f4f4;border-radius:5px;padding-top:10px;padding-bottom:10px;">

                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        <label for="disponible">*Lider</label>
                    </div>
                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        @Html.DropDownList("dwlider", new SelectList(ViewBag.listLider, "codigo", "descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwlider", @onchange = "MostrarListado()", @name = "dwlider", @enable = "false" })
                    </div>
                    <div class="col-sm-3" style="margin-top:2px;margin-bottom:2px;">
                        <button type="submit" title="Consultar" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>

                    </div>

                </div> 

            </form>

        </div>
  
    }

    <div class="box-body" id="lista">
        @{Html.RenderPartial("ListaPcPromotor", Model);}
    </div>
    <br />


</div>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/ScriptsSelect/bootstrap-select.js"></script>
<script type="text/javascript">
    function InvalidMsg(textbox, str) {

        
    }
    function InvalidMsgArticulo(textbox, str) {

        if (textbox.value.length < 8) {
            textbox.setCustomValidity(str);
        }
        else {
            textbox.setCustomValidity('');
        }
        return true;
    }
</script>
<script>


</script>

<script>
    $(document).ready(function () {
        //, disabled = "disabled"
        //MostrarListado()
        var codTienda = '@ViewBag.codTienda'

        if (codTienda != '') {

            $("#dwlider").val(codTienda);
            document.getElementById("dwlider").disabled = true;
        }


    });

    function MostrarListado() {

        var TeamDetailPostBackURL = "@Url.Action("ListaPcPromotor", "Promotor")";
        var lider =  $("#dwlider").val();
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: TeamDetailPostBackURL,
            contentType: "application/json; charset=utf-8",
            data: { dwlider: lider },
            datatype: "json",
            cache: true,
            success: function (data) {
                document.getElementById("lista").innerHTML = data;

            },
            error: function () {

            }
        });

    }

</script>
<script>
    $(function () {
        $("#datepickerini").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker("setDate", "0");;
    });
    $(function () {
        $("#datepickerfin").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker("setDate", "0");;
    });

</script>
